@font-face {
  font-family: 'sigma-icon';
  src: url('../fonts/sigma-icon/sigma-icon.eot?ygvnrj');
  src: url('../fonts/sigma-icon/sigma-icon.eot?#iefixygvnrj') format('embedded-opentype'), url('../fonts/sigma-icon/sigma-icon.woff?ygvnrj') format('woff'), url('../fonts/sigma-icon/sigma-icon.ttf?ygvnrj') format('truetype'), url('../fonts/sigma-icon/sigma-icon.svg?ygvnrj#sigma-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="s-icon-"],
[class*=" s-icon-"] {
  font-family: 'sigma-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.s-icon-companies-3:before {
  content: "\e67b";
}
.s-icon-reports-records-2:before {
  content: "\e677";
}
.s-icon-map-client-cost-code2:before {
  content: "\e678";
}
.s-icon-map-client-cost-code:before {
  content: "\e679";
}
.s-icon-companies-2:before {
  content: "\e67a";
}
.s-icon-link:before {
  content: "\e676";
}
.s-icon-log-out:before {
  content: "\e675";
}
.s-icon-task-categories-type:before {
  content: "\e674";
}
.s-icon-roles-permission:before {
  content: "\e673";
}
.s-icon-progress-type:before {
  content: "\e672";
}
.s-icon-overview2:before {
  content: "\e671";
}
.s-icon-members:before {
  content: "\e670";
}
.s-icon-material:before {
  content: "\e66f";
}
.s-icon-home:before {
  content: "\e66e";
}
.s-icon-equipment:before {
  content: "\e66d";
}
.s-icon-drawing-type:before {
  content: "\e66c";
}
.s-icon-document-library:before {
  content: "\e66b";
}
.s-icon-creating-project:before {
  content: "\e66a";
}
.s-icon-consumables:before {
  content: "\e669";
}
.s-icon-companies:before {
  content: "\e668";
}
.s-icon-hierarchy:before {
  content: "\e667";
}
.s-icon-people:before {
  content: "\e666";
}
.s-icon-report-records:before {
  content: "\e665";
}
.s-icon-information:before {
  content: "\e664";
}
.s-icon-costcode-estimates:before {
  content: "\e663";
}
.s-icon-work-education-plan:before {
  content: "\e600";
}
.s-icon-verify-material-onhand:before {
  content: "\e601";
}
.s-icon-turnover-system:before {
  content: "\e602";
}
.s-icon-turnover-binder:before {
  content: "\e603";
}
.s-icon-tracking:before {
  content: "\e604";
}
.s-icon-tools:before {
  content: "\e605";
}
.s-icon-time-progress-group:before {
  content: "\e606";
}
.s-icon-time-progress:before {
  content: "\e607";
}
.s-icon-system-report:before {
  content: "\e608";
}
.s-icon-system-progress-productivity:before {
  content: "\e609";
}
.s-icon-system:before {
  content: "\e60a";
}
.s-icon-standard-detail-manhours:before {
  content: "\e60b";
}
.s-icon-siwp-viewer:before {
  content: "\e60c";
}
.s-icon-sigma:before {
  content: "\e60d";
}
.s-icon-setup-login-account:before {
  content: "\e60e";
}
.s-icon-setup-costcode:before {
  content: "\e60f";
}
.s-icon-setup:before {
  content: "\e610";
}
.s-icon-schedule-progress:before {
  content: "\e611";
}
.s-icon-scaffold-request:before {
  content: "\e612";
}
.s-icon-rules-credit:before {
  content: "\e613";
}
.s-icon-rfi-status:before {
  content: "\e614";
}
.s-icon-reporting:before {
  content: "\e615";
}
.s-icon-raceway-qaqc:before {
  content: "\e616";
}
.s-icon-raceway-manhours:before {
  content: "\e617";
}
.s-icon-qaqc-form:before {
  content: "\e618";
}
.s-icon-qaqc-binder:before {
  content: "\e619";
}
.s-icon-project-report:before {
  content: "\e61a";
}
.s-icon-project-planned:before {
  content: "\e61b";
}
.s-icon-project-costcode:before {
  content: "\e61c";
}
.s-icon-project:before {
  content: "\e61d";
}
.s-icon-planning:before {
  content: "\e61e";
}
.s-icon-overview:before {
  content: "\e61f";
}
.s-icon-mto-summary:before {
  content: "\e620";
}
.s-icon-mto:before {
  content: "\e621";
}
.s-icon-manpower-uploading:before {
  content: "\e622";
}
.s-icon-manpower-loading:before {
  content: "\e623";
}
.s-icon-manage-timesheet:before {
  content: "\e624";
}
.s-icon-manage-siwp:before {
  content: "\e625";
}
.s-icon-manage-schedule:before {
  content: "\e626";
}
.s-icon-manage-personnel:before {
  content: "\e627";
}
.s-icon-manage-onsite:before {
  content: "\e628";
}
.s-icon-manage-iwp:before {
  content: "\e629";
}
.s-icon-manage-component:before {
  content: "\e62a";
}
.s-icon-maintain-qaqc:before {
  content: "\e62b";
}
.s-icon-maintain-iwp:before {
  content: "\e62c";
}
.s-icon-maintain-indirect-timesheet:before {
  content: "\e62d";
}
.s-icon-location-setup:before {
  content: "\e62e";
}
.s-icon-load-schedule:before {
  content: "\e62f";
}
.s-icon-load-iwp:before {
  content: "\e630";
}
.s-icon-load-drawings:before {
  content: "\e631";
}
.s-icon-load-data:before {
  content: "\e632";
}
.s-icon-load-component-schedule:before {
  content: "\e633";
}
.s-icon-lighting-manhours:before {
  content: "\e634";
}
.s-icon-library-form:before {
  content: "\e635";
}
.s-icon-iwp-workflow:before {
  content: "\e636";
}
.s-icon-iwp-viewer:before {
  content: "\e637";
}
.s-icon-iwp-status:before {
  content: "\e638";
}
.s-icon-iwp-signoff:before {
  content: "\e639";
}
.s-icon-iwp-report:before {
  content: "\e63a";
}
.s-icon-iwp-field-equipment:before {
  content: "\e63b";
}
.s-icon-iwp-equipment:before {
  content: "\e63c";
}
.s-icon-itp-qc-document:before {
  content: "\e63d";
}
.s-icon-import-schedule:before {
  content: "\e63e";
}
.s-icon-import-mto:before {
  content: "\e63f";
}
.s-icon-grounding-manhours:before {
  content: "\e640";
}
.s-icon-global-setting:before {
  content: "\e641";
}
.s-icon-field-equipment-manhours:before {
  content: "\e642";
}
.s-icon-ewo-report:before {
  content: "\e643";
}
.s-icon-estimated-manhours:before {
  content: "\e644";
}
.s-icon-equipment-manhours:before {
  content: "\e645";
}
.s-icon-drawing-viewer:before {
  content: "\e646";
}
.s-icon-drawing-type-setup:before {
  content: "\e647";
}
.s-icon-drawings:before {
  content: "\e648";
}
.s-icon-document-control-94:before {
  content: "\e649";
}
.s-icon-document-control-75:before {
  content: "\e64a";
}
.s-icon-d-model:before {
  content: "\e64b";
}
.s-icon-data:before {
  content: "\e64c";
}
.s-icon-cwp:before {
  content: "\e64d";
}
.s-icon-crew-report:before {
  content: "\e64e";
}
.s-icon-crew-progress:before {
  content: "\e64f";
}
.s-icon-crew-attendance:before {
  content: "\e650";
}
.s-icon-costcode-structure:before {
  content: "\e651";
}
.s-icon-costcode-setup:before {
  content: "\e652";
}
.s-icon-costcode-progress:before {
  content: "\e653";
}
.s-icon-costcode-map-client:before {
  content: "\e654";
}
.s-icon-control-panel:before {
  content: "\e655";
}
.s-icon-consumable-material:before {
  content: "\e656";
}
.s-icon-client-setup:before {
  content: "\e657";
}
.s-icon-calendar:before {
  content: "\e658";
}
.s-icon-cable-reel:before {
  content: "\e659";
}
.s-icon-cable-qaqc:before {
  content: "\e65a";
}
.s-icon-cable-manhours:before {
  content: "\e65b";
}
.s-icon-build-siwp:before {
  content: "\e65c";
}
.s-icon-build-schedule:before {
  content: "\e65d";
}
.s-icon-build-iwp:before {
  content: "\e65e";
}
.s-icon-assign-system:before {
  content: "\e65f";
}
.s-icon-assign-costcode:before {
  content: "\e660";
}
.s-icon-assign-cable-reel:before {
  content: "\e661";
}
.s-icon-admin:before {
  content: "\e662";
}
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Segoe", 'Open Sans', sans-serif;
}
body {
  /* background:#111; */
}
ul,
li {
  margin: 0;
  padding: 0;
}
.mix-transition-multi {
  -webkit-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -moz-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -ms-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -o-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
}
.mix-box-shadow {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
  -o-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.45);
}
.clear-float {
  display: block;
  content: '';
  clear: both;
}
.gnb-bg-mix {
  -webkit-box-shadow: inset 6px 6px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 6px 6px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: inset 6px 6px 10px 1px rgba(0, 0, 0, 0.75);
}
.gnb-bg-mix-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.text-shadow-none {
  text-shadow: none;
}
h1 {
  background: -webkit-linear-gradient(top, #ffffff, #00538f);
  background: linear-gradient(top, #ffffff, #00538f);
  background: -ms-linear-gradient(top, #ffffff, #00538f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
.t-block {
  padding: 20px;
  background: #111;
}
.master-position {
  padding-left: 60px;
}
.bor {
  border: 1px solid red;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.help-wrap * {
  -webkit-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -moz-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -ms-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  -o-transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
  transition: background 0.3s ease-in, padding 0.2s ease-in, color 0.2s ease-out, box-shadow 0.2s ease-in;
}
.help-wrap {
  position: absolute;
  top: 20%;
  width: 580px;
  border: 6px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-style: solid;
  border-color: #083c63;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}
.help-wrap .help-pop-close {
  position: absolute;
  font-size: 2.4em;
  color: #98c9e7;
  right: 10px;
  top: 10px;
  z-index: 300;
}
.help-wrap .help-pop-close:hover {
  color: #c12110;
}
.help-wrap p > .corp {
  /* font-size:1.2em;
    font-weight:700;
    display:inline-block;
    margin:1px 0;
    padding:2px 8px;
    background:desaturate(lighten(@info-color,38%),40%);
    border-radius:18px;
    border:1px solid lighten(@info-color,14%);
    .mix-box-shadow-reverse(1px,1px,3px,.5);
    color:darken(@info-color,20%); */
}
.help-wrap h2 {
  cursor: move;
  font-size: 2.4em;
  color: #98c9e7;
  border-bottom: 1px solid #79a0be;
  background: #083c63;
  padding: 10px 17px 14px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  text-shadow: 1px 1px 0 #000000;
}
.help-wrap h2:hover {
  text-shadow: none;
  color: #226691;
  background: #edf4f8;
}
.help-wrap h2 i {
  position: relative;
  top: 4px;
  margin-right: 7px;
}
.help-wrap .title {
  position: relative;
}
.help-wrap .title .text-size-button {
  display: none;
  position: absolute;
  color: #fff;
  background: #106aa3;
  left: 10px;
  bottom: -18px;
  font-size: .8em;
}
.help-wrap .title .text-size-button i {
  float: left;
  padding: 4px 10px;
}
.help-wrap .title .text-size-button i:first-child {
  border-right: 1px solid rgba(250, 250, 250, 0.5);
}
.help-wrap .title .text-size-button:hover {
  background: #959595;
}
.help-wrap .title .text-size-button:hover i:hover {
  background: #0c4c74;
  color: #8ccbf3;
}
.help-wrap .comment {
  font-size: 1.25em;
  font-weight: 600;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #0c5992;
  padding: 10px 20px 20px;
  background: #edf4f8;
}
.help-wrap .comment h3 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 0px;
}
.help-wrap .comment .h-title p span,
.help-wrap .comment .content li span {
  display: inline-block;
  margin: 1px 0;
  padding: 0 4px 2px 4px;
  font-weight: 600;
  font-size: 1em;
  color: #f65100;
  border-bottom: 1px dashed #ffb590;
  background: #fff;
  text-shadow: 1px 1px 1px #ffffff;
}
.help-wrap .comment .content {
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 10px;
  max-height: 450px;
  overflow-y: auto;
  border-radius: 10px;
  background: #fff;
}
.help-wrap .comment .content hr {
  height: 1px;
  border: 0;
  background: #ddd;
  color: red;
  margin: 20px 0 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.help-wrap .comment .content .h-title {
  padding: 12px 4px 12px 12px;
}
.help-wrap .comment .content .h-title > h4.non-comment {
  border: 1px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #519ac8;
}
.help-wrap .comment .content .h-title h4 {
  font-weight: 700;
  position: relative;
  bottom: -1px;
  padding: 0 16px 4px 12px;
  font-size: 1.16em;
  color: #e9f7ff;
  background: linear-gradient(bottom, #1b425f, #25587e);
  background: -ms-linear-gradient(bottom, #1b425f, #25587e);
  background: -webkit-linear-gradient(bottom, #1b425f, #25587e);
  background: -moz-linear-gradient(bottom, #1b425f, #25587e);
  background: -o-linear-gradient(bottom, #1b425f, #25587e);
  border: 1px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: none;
  border-top-left-radius: 5px;
  border-bottom-right-radius: none;
  border-style: solid;
  border-color: #255674;
  border-bottom: 0 ;
  text-shadow: -1px -1px 0 #000000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}
.help-wrap .comment .content .h-title h4 i {
  margin-left: 12px;
}
.help-wrap .comment .content .h-title p {
  padding: 12px 12px;
  border: 1px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  border-color: #519ac8;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  background: #f4f8fb;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1);
  font-weight: 400;
  font-size: .8em;
  line-height: 1.4;
}
.help-wrap .comment .content h3,
.help-wrap .comment .content h4 {
  padding: 6px 0px;
}
.help-wrap .comment .content ul {
  padding: 0 10px 0 12px;
  margin-left: 6px;
  font-weight: 500;
  font-size: 1.1em;
}
.help-wrap .comment .content ul li h5 {
  font-size: 1.16em;
}
.help-wrap .comment .content ul li.bool {
  color: #333;
  font-weight: normal;
  font-size: .7em;
  background: url(../img/common/list-bool-first.png) no-repeat left 5px;
  line-height: 1.35;
  padding: 1px 0 1px 22px;
}
.help-wrap .comment .content ul li.bool ul {
  padding: 7px 12px;
  margin-top: 6px;
  margin-left: -12px;
  background: #f4f8fb;
}
.help-wrap .comment .content ul li.bool ul li {
  background: url(../img/common/list-bool-third.png) no-repeat left 7px;
  padding-left: 10px;
  color: #1075c1;
  font-size: .9em;
}
.help-wrap .comment .content ul li.bool ul li span {
  font-size: 1em;
}
.help-wrap .comment .content ul li.bool ul li ul {
  background: #fff;
  border-radius: 5px;
  padding: 7px;
}
.help-wrap .comment .content ul li.bool ul li ul li {
  list-style: none;
  background: none;
  padding: 2px 0;
}
.help-wrap .comment .content ul li.bool ul li ul li i {
  margin-right: 4px;
}
.help-wrap .comment .content ul div.note {
  margin-top: 12px;
}
.help-wrap .comment .content ul div.note h5 {
  border-top: 1px solid #cddce5;
  border-bottom: 1px solid #cddce5;
  padding: 6px 0 6px 12px;
}
.help-wrap .comment .content ul div.note h5 i {
  margin-right: 7px;
}
.help-wrap .comment .content ul div.note p {
  border-top: 1px solid #cddce5;
  padding: 10px;
  font-size: .7em;
}

